  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <h3>Visión</h3>
            <p>Ser un estudio contable al servicio de la innovación y responsabilidad empresarial, reconocidos por nuestra trayectoria, la calidad y excelencia en nuestros servicios, privilegiando la satisfacción y el respeto de nuestros clientes y la relación con nuestros colaboradores.

</p>
            <h3>Misión</h3>
            <p>Asesorar, acompañando a nuestros clientes desde el comienzo de un emprendimiento en todo su proceso de crecimiento, ayudándolos a optimizar sus recursos económicos, financieros y humanos para alcanzar sus metas, brindándoles soluciones integrales.

</p>
            
        </div>
      </div>
  </aside>
