<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Acerca de nosotros</h2>
                <hr class="light">
                <p class="text-faded">                  
                En nuestro estudio contable nos dedicamos a la atención de empresas grandes, PYMES, comerciantes, profesionales y particulares en distintas ramas de la actividad. Ofreciendo asesoramiento oportuno y especializado.
                </p>

               <p class="text-faded">Garantizamos a nuestros clientes un servicio integral de alto nivel profesional, otorgando soluciones efectivas a sus necesidades y acompañándolos en su crecimiento con responsabilidad, transparencia y confidencialidad.
               </p>

               <p class="text-faded">El Estudio Irisarri es la firma profesional liderada por la Contadora Pública Luciana Irisarri, recibida en la Universidad de la República Oriental del Uruguay, con varios años de experiencia
               </p>    
                    
                    
                </p>
            </div>
        </div>
    </div>
</section>
