<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nosotros</h2>
                <hr class="light">
                <p class="text-faded">En Estudio Irisarri brindamos un servicio de asesoramiento continuo, integral y personalizado, protegiendo los derechos e intereses de nuestros clientes.               
                </p>
            </div>
        </div>
    </div>
</section>
