<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contacto</h2>
                <hr class="primary">
                <p>
                Brindamos servicios de contabilidad y asesoramiento contable y tributario para empresas o particulares.
Puede dejar su consulta a través de nuestro correo, o si lo prefiere, llamandonos.  
                </p>
                <p><b><bdo dir="rtl">moc.irrasirioidutse@otcatnoc</bdo></b></p>
                <p><b>+598 99 710671</b></p>           
                <p>Libertad, San José, Uruguay 
                </p>
                
            </div>
            

    </div>
</section>
