<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Estudio Irisarri</h1>
            <hr>
            <p>Somos una firma dedicada a la práctica contable, tributaria, financiera y demás aspectos de la gestión empresarial con el objetivo de brindar un asesoramiento integral en lo referente a todo tipo de actividad comercial.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Más información</a>
            
        </div>
    </div>
</header>


