<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <h1 style="color:#EE4B28;">Estudio Irisarri</h1>

            <hr>
            <p style="color:#991900;">SOMOS UNA FIRMA DEDICADA A LA PRÁCTICA CONTABLE, TRIBUTARIA, FINANCIERA Y DEMÁS ASPECTOS DE LA GESTIÓN EMPRESARIAL CON EL OBJETIVO DE BRINDAR UN ASESORAMIENTO INTEGRAL..</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Más información</a>
            
        </div>
    </div>
</header>


